body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
  margin: 10px;
  gap: 40px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 78px;
  background-color: #ffffff;
}
.header_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.link_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #efebff;
  color: #633cff;
  border-radius: 8px;
  height: 46px;
  width: 122px;
}
a {
  text-decoration: none;
  font-size: 18px;
}
.profile_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #737373;
}
.iconpreview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 46px;
  border-radius: 8px;
  border: 1px solid;
  color: #633cff;
  color: #633cff;
}
.phone_customize {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.phone_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 834px;
  width: 560px;
  background-color: #ffffff;
  gap: 20px;
}
.customize_box {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 879px;
  height: 734px;
  background-color: #ffffff;
  gap: 20px;
  padding-left: 30px;
}
.add_new_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 46px;
  border-radius: 8px;
  border: 1px solid#633CFF;
}
.uploud_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 469px;
  width: 90%;
  background-color: #fafafa;
  border-radius: 12px;
  flex-direction: column;
}
.paragrape_text {
  display: flex;
  height: 72px;
  width: 488px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #737373;
}

.btn_container {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 20px;
  height: 95px;
  width: 100%;
  background-color: #ffffff;
}

.full_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 150px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  color: white;
  background-color: #633cff;
  margin: 10px;
}
