body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
}
.devlinksicon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.login_box {
  display: flex;
  justify-content: flex-start;
  align-items: self-start;

  width: 476px;
  background-color: #ffffff;
  padding: 40px;
  flex-direction: column;
  gap: 10px;
}
p {
  color: #737373;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}

input {
  height: 50px;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 16px;
}
label {
  font-size: 14px;
  color: #333333;
}
.login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #633cff;
  height: 46px;
  width: 100%;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
}
.qouestion_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.create_ref {
  text-decoration: none;
}
